* {
    box-sizing: border-box;
    max-width: 100%;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif; 
    background: #faeddf;
    font-family: 'Arvo', serif;
}

header {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    max-width: 992px;
}

/* Header photo */

header .profile__photo {
    width: 150px;
}

header .profile__photo img {
    width: 100%;
    border-radius: 50%; /* Deixa a foto arredondada */
}

.profile__photo img:hover {
    transform: scale(1.05);
}

/* Header About */

header .about {
    margin: 10px;
}

header .about h1 {
    font-size: 28px;
}

header .about p { 
    font-size: 16px;
}

/*Content*/

.container {
    max-width: 992px; /* Largura máxima do elemento */ 
    margin: 0 auto; /* Para deixar os elementos centralizados horizontalmente, usamos margin 0 auto além do width ou max-width */
}

.grid {
    display: flex;
    flex-wrap: wrap; /* Define se os itens vão quebrar ou não de linha */
    justify-content: center; /* Centralizar os elementos */
}

.item { /* Aqui não precisa de display flex, pois já foi declarado no pai (div grid)*/
    cursor: pointer;
    flex-direction: column; /* determina a estrutura do elemento com flexbox, se será row ou column */
    padding: 15px;
    transition: transform 0.3s ease-in-out; /* Cria uma animação ao passar o mouse na foto. O transform e o ease-in-out nos permite criar uma transição do hover suave e fluída */
}

.item:hover {
    transform: scale(1.05); /* ao passar o mouse, o transform scale aumenta o tamanho da imagem*/
    transform: skewY(5deg); 
}

.item .item__details {
    font-size: 13px;
}

.item .item__details img {
    margin-right: 10px;
    vertical-align: bottom;
}

/* Footer */

footer {
    text-align: center;
}

/* mobile first!*/

@media (min-width: 768px) {
    header {
        justify-content: start;
    }

    header .profile__photo {
        margin: 0 60px 0 30px;
    }

    .profile__photo img {
        opacity: 0.5;
    }
    
    .profile__photo img:hover {
        opacity: 1;
        transform: none;
    }

    header .about {
        margin: 0;
    }

    header .about h1 {
        font-size: 32px;
    }

    .item {
        opacity: 0.5; 
    }

    .item:hover {
        opacity: 1; 
        transform: none;
    }
}